<section class="l-catch" id="catch">
    <div class="catch-container l-container">
        <div class="catch-text-container">
            <h2 class="catch-title">Catch copy text catch copy !!<br>Catch copy text!</h2>
            <p class="catch-text">sample text sample text sample text sample text
                <br>sample text sample text sample text sample
                <br>sample text sample text sample text 
            </p>
            <p class="catch-text">sample text sample text sample text
                <br>sample text sample text sample text sample text    
            </p>
        </div>
        <div class="catch-images">
            <img class="phone1" src="../assets/images/FET/phone1.png" alt="image of phone is here">
            <img class="phone2" src="../assets/images/FET/phone2.png" alt="image of phone is here">
            <img class="phone3" src="../assets/images/FET/phone3.png" alt="image of phone is here">
        </div>
    </div>
</section>
