<section class="l-contact">
    <div class="news-container l-container">
        <div class="title">
            <h2>- Mail -</h2>
        </div>
        <div class="contact-contents">
            <form action="post">
                <div class="contact-left">
                    <div>
                        <input class="mail-field" type="text" name="name" placeholder="Name">
                    </div>
                    <div>
                        <input class="mail-field-email" type="email" name="" placeholder="E-mail">
                    </div>
                    <div>
                        <select class="mail-field-select" name="" id="">
                            <option value="">Please select your topic</option>
                            <option value="">Topic1</option>
                            <option value="">Topic2</option>
                            <option value="">Topic3</option>
                            <option value="">Topic4</option>
                        </select>
                    </div>
                </div>
                <div class="contact-right">
                    <div>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Comments"></textarea>
                    </div>
                    <div class="mail-submit">
                        <input class="mail-field-submit" type="button" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>