<section class="l-feature" id="feature">
    <div class="feature-container l-container">
        <div class="title">
            <h2>- Feature -</h2>
        </div>
        <div class="feature-containts">
            <div class="feature-item">
                <img class="feature-image" src="../assets/images/FET/html5.png" alt="Icon-HTML5">
                <h3 class="feature-sub-title">HTML5</h3>
                <p class="feature-text">
                    sample text sample 
                    <br>text sample text 
                    <br>sample text sample text
                </p>
            </div>
            <div class="feature-item">
                <img class="feature-image" src="../assets/images/FET/css3.png" alt="Icon-CSS3">
                <h3 class="feature-sub-title">CSS3</h3>
                <p class="feature-text">
                    sample text sample 
                    <br>text sample text 
                    <br>sample text sample text
                </p>
            </div>
            <div class="feature-item">
                <img class="feature-image" src="../assets/images/FET/javascript.png" alt="Icon-js">
                <h3 class="feature-sub-title">JavaScript</h3>
                <p class="feature-text">
                    sample text sample 
                    <br>text sample text 
                    <br>sample text sample text
                </p>
            </div>
        </div>
    </div>
</section>