<footer class="l-footer footer">
    <div class="footer-content l-container">
        <div class="copyright">
            <p>&copy;2019 Sample</p>
        </div>
        <div class="footer-list">
            <ul >
                <li><a href=""><i class="fab fa-facebook-f"></i>Facebook</a></li>
                <li><a href=""><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href=""><i class="fab fa-google"></i>google</a></li>
            </ul>
        </div>
    </div>
</footer>