<section class="l-header header">
    <div class="header-container l-container">
        <div class="logo">
            <a href=""><img class="logo-image" src="../assets/images/FET/logo.png" alt="LOGO"></a>
        </div>
        <nav >
            <div class="nav-list">
                <ul>
                    <li><a href="#catch">Top</a></li>
                    <li><a href="#feature">Feature</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#news">News</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>