<section class="l-news" id="news">
    <div class="news-container l-container">
        <div class="title">
            <h2>- News -</h2>
        </div>
        <article class="news-contents">
            <a class="news-article-link" href="#">
                <div class="news-topic">
                    <time class="date">06.18</time>
                    <h3 class="news-title">News title</h3>
                </div>
                <div class="news-article">
                    <p>sample text sample text sample text sample text sample text sample text sample text sample text.....</p>
                </div>
            </a>
        </article>
        <article class="news-contents">
            <a class="news-article-link" href="#">
                <div class="news-topic">
                    <time class="date">06.17</time>
                    <h3 class="news-title">News title</h3>
                </div>
                <div class="news-article">
                    <p>sample text sample text sample text sample text sample text sample text sample text sample text.....</p>
                </div>
            </a>
        </article>
        <article class="news-contents">
            <a class="news-article-link" href="#">
                <div class="news-topic">
                    <time class="date">06.16</time>
                    <h3 class="news-title">News title</h3>
                </div>
                <div class="news-article">
                    <p>sample text sample text sample text sample text sample text sample text sample text sample text.....</p>
                </div>
            </a>
        </article>
    </div>
</section>