<section class="l-service" id="service">
    <div class="service-container l-container">
        <div class="title">
            <h2>- Service -</h2>
        </div>
        <div class="service-contents">
          
                <img class="service-image" src="../assets/images/FET/service-image.jpg" alt="a graph is showed.">
            
            <div class="service-right">
                <h3 class="service-sub-title">2018 our results</h3>
                <p class="service-text">
                    sample text sample text sample text sample text
                    <br>sample text sample text sample text sample
                    <br>sample text sample text sample text 
                </p>
                <p class="service-text">
                    sample text sample text sample text
                    <br>sample text sample text sample text sample text    
                </p>
            </div>
        </div>
    </div>  
</section>