<section class="l-supporters">
    <div class="supporters-container l-container">
        <ul>
            <li><a href="#"><img src="../assets/images/FET/ibm.png" alt="IBM" class="image-ibm"></a></li>
            <li><a href="#"><img src="../assets/images/FET/microsoft.png" alt="microsoft" class="image-microsoft"></a></li>
            <li><a href="#"><img src="../assets/images/FET/twitter.png" alt="twitter" class="image-twitter"></a></li>
            <li><a href="#"><img src="../assets/images/FET/facebook.png" alt="facebook" class="image-facebook"></a></li>
        </ul>
    </div>
</section>