.l-catch {
    background-color: #BCB5B2;
}

.l-footer {
    background-color: #333333;
    color: #FCFCFC;
}
.footer-list {
    color: #FCFCFC;
}

.l-feature, .l-news, .l-contact {
    background-color: #f6f6f6;   
}

.l-header {
    border-bottom: 2px solid #ccc;
    border-top: 1px solid #ccc;
}