.supporters-container {
    padding-top: 60px;
    text-align: center;
    ul{
        display: flex;
        li {
            list-style: none;
            // margin-left: 20px;
            a {
                text-decoration: none;
            }
        }
    }
}

.image-ibm {
    height: 57px;
    margin: 20px 30px;
    margin-left: 0;
}

.image-microsoft {
    height: 56px;
    margin: 20px 30px;
}

.image-twitter {
    height: 47px;
    margin:20px 30px;
}

.image-facebook {
    height: 45px;
    margin:20px 30px;
}