<!DOCTYPE html>
<html lang="ja" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>FET Let's try</title>
  <% include view/_head %>
</head>
<body>
    <% include view/_hero %>
    <% include view/_header %>
    <% include view/_catch %>
    <% include view/_feature %>
    <% include view/_service %>
    <% include view/_news %>
    <% include view/_supporters %>
    <% include view/_contact %>
　
    <% include view/_footer %>

<script src="assets/js/app.js" async></script>
</body>
</html>
